apiVersion: v1
kind: Service
metadata:
  name: fastapi-service
  namespace: fastapi-tut
  labels:
    group: tutorial
spec:
  selector:
    app: fastapi
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
  type: LoadBalancer